<%- include("header"); -%>
</head>

<body>
  <form class="home-form mb-3" action="/theory" method="post">
    <h1> <%= heading %> </h1>
    <p> <%= paragraph1 %> </p>
    <p> <%= paragraph2 %> </p>
    <p> <%= paragraph3 %> </p>
    <p> <%= paragraph4 %> </p>
    <button class="btn btn-success" type="submit">Continue</button>
  </form>
</body>

</html>